.container {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 74px;
  padding: 16px 37px;
  color: #fff;
  transition: color 0.2s ease-out;
  z-index: 99999999999;
}

.wrapper {
  composes: container from '../../../../styles/layout.module.css';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container.active {
  color: #000;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.38);
  background: #fff;
  transition: all 0.2s ease-in;
}
.container.active img{
  content: url("https://res.cloudinary.com/dkhvcn7i6/image/upload/v1659734973/Logo/Untitled-LOGO_hzxwrn.png");
}
.container.active a{
  color: black;
}

.social a {
  color: #fff;
}

.social a:hover{
  color: #5A90F7;
}
.logo {
  font-size: 3rem;
}

.menu {
  display: flex;
  gap: 16px;
  list-style: none;
  font-size: 1.6rem;
}

.menu li {
  padding: 0 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 2rem;
}

.menu li a {
  text-decoration: none;
  color: inherit;
}

.social {
  display: flex;
  gap: 12px;
}

.social svg {
  height: 24px;
  width: 24px;
}
.logo img{
  position: relative;
  width: 120px;
  height: 50px;
}